extends layout

block header
	li.active
		a(href="#") Registro
	li
		a(href="usuarios") Usuarios


block content
	div.container
		h2 Registro
		div.bs-example
			form(name="addusuario",method="post",action="/addUsuario")
				div.form-group
					label Usuario
					input#inputUsuario.form-control(type="text", name="usuario", placeholder="Usuario" required )

				div.form-group
					label(for="inputEmail") Email
					input#inputEmail.form-control(type="email", name="email", placeholder="Email" required )

				div.form-group
					label(for="inputPassword") Password
					input#inputPassword.form-control(type="password",name="password", placeholder="Password" required )

				button.btn.btn-primary(type="submit") Registrarse
